.container__time {
    display: flex;
    justify-content: center;
  }
  
  .time__title {
    font-size: 10px;
  }
  
  .time__value {
    font-size: 30px;
  }
  
  .colon__division {
    position: relative;
    top: 20px;
  }
  
  .time__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 10px; 
  }