.container__time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #fff;
  height: 325px;
  width: 325px;
  border-radius: 50%;
  background: radial-gradient(ellipse at center, 
    rgba(255,113,12,0) 69%,
    #EE6E70 72%);
  }
  
  .time__title {
    font-size: 10px;
  }
  
  .time__value {
    font-size: 50px;
  }
  
  .colon__division {
    position: relative;
    font-size: 25px;
    bottom: 15px;
  }
  
  .time__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 10px; 
  }